nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF; 
  padding: 0 1.5em;
  box-sizing: border-box;
}


nav .logo {
  font-size: 2em;
  font-family: 'Bungee', sans-serif;
}

nav .new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans 3', sans-serif;
}

nav .new-tweet i {
  color: #F13C1D;
}
